@model RlgBilling.Models.BillingModel

@{


    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <script type="text/javascript">
    </script>
    <style>
        .style {
            color: white;
            font-family: Cambria;
            font-size: 20px;
            font-variant: small-caps;
        }

        .style1 {
            color: yellow;
            font-family: Narkisim;
            font-size: 15px;
        }
    </style>

</head>


<body style="background-color:#9c67de;color:white">
    @using (Html.BeginForm("Create", "Billing", FormMethod.Post))


    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div align="center" style="color:#fcd708;font-family:'Felix Titling';font-size:25px;font-variant: small-caps;font-weight:bolder;">
            @ViewBag.Message
          
        </div>
        <div style="position:absolute;top:0">
            <div class="header__site-logo desktopuser">
                <a href="/" tabindex="2">
                    <img class="logo-sm d-block d-lg-none" src="~/images/RLG.JPG" onerror="this.src = '~/images/RLG.JPG'" alt="Home - Royal London">
                </a>
            </div>
        </div>

        <div class="container" align="center">

            <h1 style="color:black;font-family:'Felix Titling';font-size:35px;font-variant: small-caps;font-weight:bolder;">Create</h1>
            <p style="color: white;box-shadow: 120px 550px 340px 330px black; font-family:'Felix Titling';font-variant: small-caps;font-weight:bolder;font-size: 25px;">Please enter your credentials</p>

            <table>

                <tr>

                    <td class="style">ProjectID</td>
                    <td>@Html.TextBoxFor(model => model.ProjectID, new { @type = "number", required = "required", min = "0" })</td>
                <tr>
                    <td></td>
                    <td class="style1">@Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })</td>

                    <td> <br /> <br /> </td>
                </tr>

                <tr>
                    <td class="style">ProjectName</td>
                    <td>
                        @Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control", required = "required" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="style1">@Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })</td>

                    <td> <br /> <br /> </td>
                </tr>

                <tr>
                    <td class="style">ManagerName</td>
                    <td>@Html.TextBoxFor(model => model.ManagerName, new { @class = "text", required = "required" }) </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="style1">@Html.ValidationMessageFor(model => model.ManagerName, "", new { @class = "text-danger" })</td>
                    <td> <br /> <br /> </td>
                </tr>

                <tr>
                    <td class="style">AssociateID</td>
                    <td>@Html.EditorFor(model => model.AssociateID, new { required = "required" }) </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="style1">@Html.ValidationMessageFor(model => model.AssociateID, "", new { @class = "text-danger" })</td>
                    <td> <br /> <br /> </td>
                </tr>

                <tr>
                    <td class="style">AssociateName</td>
                    <td>@Html.TextBoxFor(model => model.AssociateName, new { @class = "text", required = "required" }) </td>

                <tr>
                    <td></td>
                    <td class="style1">@Html.ValidationMessageFor(model => model.AssociateName, "", new { @class = "text-danger" })</td>
                    <td> <br /> <br /> </td>
                </tr>

                <tr>
                    <td class="style">AllocationPercent &nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>@Html.TextBoxFor(model => model.AllocationPercent, new { @type = "number", required = "required" }) </td>
                <tr>
                    <td></td>
                    <td class="style1"> @Html.ValidationMessageFor(model => model.AllocationPercent, "", new { @class = "text-danger" })</td>
                    <td> <br /> <br /> </td>
                </tr>

                <tr>
                    <td class="style">Onshore/Offshore</td>

                    <td>@Html.TextBoxFor(model => model.OnOff, new { @class = "text", required = "required" }) </td>
                <tr>
                    <td></td>
                    <td class="style1">@Html.ValidationMessageFor(model => model.OnOff, "", new { @class = "text-danger" })</td>
                    <td> <br /> <br /> </td>
                </tr>

                <tr>
                    <td class="style">RateCard</td>
                    <td>@Html.TextBoxFor(model => model.RateCard, new { @type = "number", required = "required" }) </td>

                <tr>
                    <td></td>
                    <td class="style1">@Html.ValidationMessageFor(model => model.RateCard, "", new { @class = "text-danger" })</td>
                    <td> <br /> <br /> </td>
                </tr>

                <tr>
                    <td class="style">Comments</td>
                    <td>@Html.TextBoxFor(model => model.Comments, new { @class = "text", required = "required" }) </td>
                <tr>
                    <td></td>
                    <td class="style1"> @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })</td>
                    <td> <br /> <br /> </td>
                </tr>
                <tr>
                    <td> <br /> <br /> </td>
                </tr>

            </table>



            <input id="Create1" type="Submit" value="Create" style="background-color: #1c29ca;color: white;">

            <input id="Reset1" type="reset" value="Reset" style="background-color: #1c29ca;color: white;" />


        </div>
    }

    <div class="container" align="center">
        <p>
            <a href="/" style="color: #1360ec;font-family:'Lucida Bright';font-size:15px;font-variant: small-caps;font-weight:bolder;">Back to List</a>
        </p>
        <p>
            <a style="color:ghostwhite;font-family:'Lucida Bright';font-size:15px;">All the fields are mandatory</a>
        </p>
    </div>
</body>
</html>
